<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <!-- A tag template não cria outra tag e permite usar o condicional para mais de um elemento. -->
    <!-- v-if remove o elemento da tela. v-show apenas oculta. -->
    <template v-if="logado">
        <p>Usuário logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado"> {{ logado ? 'Sair' : 'Entrar' }} </button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el:'#app',
        data:{
            nome: 'Maria',
            logado: false,
            anonimo: false
        }
    })
</script>